html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Arial";
  color: #2a2a2a;
  font-size: 16px;
}
.header {
  position: absolute;
  width: 100%;
  z-index: 20;
}
.header .hamburger {
  z-index: 1500;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
  -webkit-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
  -moz-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
  transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
}
.header .hamburger .patty {
  position: relative;
  width: 32px;
  height: 4px;
  margin: 10px 0;
  background: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header .hamburger .patty:before,
.header .hamburger .patty:after {
  content: "";
  display: block;
  width: 32px;
  height: 4px;
  background: #fff;
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header .hamburger .patty:before {
  top: -12px;
}
.header .hamburger .patty:after {
  top: 12px;
}
.header nav {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header nav ul {
  display: none;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
}
.header nav ul li {
  display: block;
}
.header nav ul li a {
  display: block;
  font-family: "Arial";
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 1px;
  padding: 15px;
}
.header nav ul li a:hover {
  color: #fff;
}
.header.open nav {
  background: #2a2a2a;
}
.header.open nav ul {
  display: table;
}
.header.open .hamburger .patty {
  height: 0;
}
.header.open .hamburger .patty:before {
  top: 0 !important;
  background: #fff !important;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header.open .hamburger .patty:after {
  top: 0 !important;
  background: #fff !important;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header.close {
  padding: 0px;
}
.header.close .hamburger .patty {
  height: 0;
}
.header.close .hamburger .patty:before {
  top: 0 !important;
  background: #fff !important;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header.close .hamburger .patty:after {
  top: 0 !important;
  background: #fff !important;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media screen and (min-width: 640px) {
  .header {
    position: absolute;
    width: 100%;
    z-index: 20;
  }
  .header nav {
    position: absolute;
    width: 100%;
    z-index: 50;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header nav ul {
    padding: 0;
  }
  .header nav ul li {
    display: inline-block;
  }
  .header nav ul li a {
    display: inline-block;
    padding: 25px 15px;
  }
  .header.open {
    position: fixed;
  }
  .header.open nav {
    background: rgba(0, 0, 0, 0.7);
  }
  .header.open nav ul {
    display: table;
  }
}
